.more-button{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    text-decoration: none;
    color:black;
    margin: 0 auto 100px auto;
    transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover{
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
    }
}