.publication-card {
  width: 20%;

  font-family: Arial, Helvetica, sans-serif;
  @media (max-width: 991px) {
    width: 50%;
  }

  @media (max-width: 520px) {
    width: 100%;
  }

  &__description {
    min-height: 115px;
    text-decoration: none;
    h3 {
      margin: 10px 0;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
    }
    p {
      margin: 0 0 0.5em;
      line-height: 1.333;
      font-size: 13px;
      color: #303030;
    }
  }
}

.publication-card__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 180px;
  padding: 40px 0;
  margin: 0 auto;
  height: 380px;
  overflow: hidden;
  justify-content: space-between;
  .gatsby-image-outer-wrapper {
    width: 100%;
  }

  .gatsby-image-wrapper {
    height: 250px;
    @media (max-width: 320px) {
      height: auto;
    }
  }

  @media (max-width: 320px) {
    width: 100%;
    padding: 0;
    height: auto;
    margin: 40px auto;
  }
}
