.project-card {
  width: calc(33.3% - 110px);
  padding-left: 80px;
  margin-left: 30px;
  margin-bottom: 140px;
  position: relative;
  text-decoration: none;

  &__image {
    position: relative;
    .gatsby-image-outer-wrapper {
      position: relative;
      left: 0px;
      transition: left 600ms cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.5s;
    }
    .gatsby-image-wrapper {
      // &:before {
      //   content: '';
      //   position: absolute;
      //   height: 50%;
      //   right: 0;
      //   bottom: 0;
      //   left: 0;
      //   background-image: linear-gradient(to bottom, #ffffff00, #000000);
      //   opacity: 1;
      //   z-index: 1;
      // }
    }
  }

  &__title {
    left: -3ch;
    bottom: 10%;
    position: absolute;
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    font-size: 21px;
    padding-left: 5.5em;
    text-indent: -5.5em;
    width: calc(100% - 5.5em);
    span {
      // position: absolute;
      // color: black;
      // top: -25px;
      // font-size: 13px;
      // left: 0;
      // font-weight: 500;
      font-size: 21px;
      font-weight: bold;
      color: white;
      position: relative;
      letter-spacing: 2px;

      line-height: normal;
      width: calc(100% - 5.5em);


      &::before {
        content: attr(data-title);
        height: 100%;
        width: 3ch;
        overflow: hidden;
        position: absolute;
        font-size: inherit;
        filter: invert(100%);
        white-space: nowrap;
        padding-left: 0;
        text-indent: 0;
        transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
      }

      &::after {
        background-color: #BBBBBB;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        top: -3px;
        left: 3ch;
        bottom: -5px;
        opacity: 0.5;
        z-index: -1;
        transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
        width: calc(100% - 2ch);
      }

    }

    &::after {
      content: ' ';
      background-image: url('./arrow.svg');
      background-size: 40px 20px;
      height: 20px;
      width: 40px;
      position: absolute;
      bottom: -30px;
      left: -2ch;
      transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);

      @media (max-width: 992px) {
        left: -10px;
      }
    }

  }
  &__caption {
    text-align: right;
    font-size: 13px;
    font-weight: 500;
    color: #494949;
    padding-top: 10px;
    line-height: 1.333;
  }

  &:hover {
    cursor: pointer;
    .project-card {
      &__title {
        span{

          &::before {
            width: 5ch;
          }

          &::after {
            left: 5ch;
            width: calc(100% - 4ch);
          }
          
        }

        left: -1ch;

        &::after {
          left: 1ch;
        }


      }
      &__image {
        .gatsby-image-outer-wrapper {
          left: 4ch;
          font-size: 21px;
        }
      }
    }
  }

  &--similar{
    width: calc(50% - 110px);
  }

  @media (max-width: 1200px) {
    width: calc(50% - 110px);
  }

  @media (max-width: 992px) {
    width: calc(100% - 80px);
    margin-bottom: 80px;
    margin-left: 0px;
  }
}
