.buro {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 500px;
  background-size: cover;
  justify-content: center;
  align-items: center;
  position: relative;

  .gatsby-image-outer-wrapper {
    position: absolute !important;
    width: 100%;
    height: 100%;
    .gatsby-image-wrapper {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    font-size: 36pt;
    color: white;
    z-index: 1;
  }

  &__nav {
    position: absolute;
    bottom: 0;
    z-index: 1;
    ul {
      display: flex;
      li {
        margin: 0 25px;
        font-size: 17px;
        height: 60px;
        position: relative;
        a {
          text-decoration: none;
          padding-bottom: 3px;
          color: white;
          border-bottom: 2px solid #fff;
        }

        &.active {
          a {
            border-bottom: 0px solid;
          }

          &:after {
            bottom: 0px;
          }
        }

        &:after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          width: 0px;
          height: 0px;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-bottom: 25px solid #fff;
          bottom: -25px;
          transition: bottom 300ms ease-in-out;
        }

        &:hover {
          cursor: pointer;
          &::after {
            bottom: 0px;
          }
        }

        @media (max-width: 992px) {
          margin: 0px 10px;
          font-size: 13px;
        }
      }

      @media (max-width: 992px) {
        justify-content: center;
      }
    }

    @media (max-width: 992px) {
      overflow-x: auto;
      overflow-y: hidden;
      width: 100%;
      left: 0;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #ffffff00, #000000);
    opacity: 0.8;
  }
  @media (max-width: 992px) {
    height: calc(100vh - 65px);
  }
}
