/*  COLORS
========================================= */

$bg-color: #2c3e50;
$white: #494949;

/*  MIXINS
========================================= */

@mixin animation($animation) {
  -webkit-animation: #{$animation};
  -moz-animation: #{$animation};
  -o-animation: #{$animation};
  animation: #{$animation};
}

@mixin animation-delay($animation-delay) {
  -webkit-transition-delay: #{$animation-delay};
  -moz-transition-delay: #{$animation-delay};
  -o-transition-delay: #{$animation-delay};
  transition-delay: #{$animation-delay};
}

@mixin keyframes($keyframes) {
  @-webkit-keyframes #{$keyframes} {
    @content;
  }
  @-moz-keyframes #{$keyframes} {
    @content;
  }
  @-o-keyframes #{$keyframes} {
    @content;
  }
  @keyframes #{$keyframes} {
    @content;
  }
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin transition($transition...) {
  -webkit-transition: #{$transition};
  -moz-transition: #{$transition};
  -o-transition: #{$transition};
  transition: #{$transition};
}

@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: #{$transition-delay};
  -moz-transition-delay: #{$transition-delay};
  -o-transition-delay: #{$transition-delay};
  transition-delay: #{$transition-delay};
}
/*  MENU ICON
========================================= */

.menu-icon {
  position: relative;

  margin-right: 15px;

  width: 18px;
  height: 18px;

  .dot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background-color: $white;
    @include transform(translate(-50%, -50%));
    transition: all 400ms ease-in-out;
    &:nth-of-type(1) {
      margin-top: -8px;
      margin-left: -8px;
    }

    &:nth-of-type(2) {
      margin-top: -8px;
    }

    &:nth-of-type(3) {
      margin-top: -8px;
      margin-left: 8px;
    }

    &:nth-of-type(4) {
      margin-left: -8px;
    }

    &:nth-of-type(5) {
    }

    &:nth-of-type(6) {
      margin-left: 8px;
    }

    &:nth-of-type(7) {
      margin-top: 8px;
      margin-left: -8px;
    }

    &:nth-of-type(8) {
      margin-top: 8px;
    }

    &:nth-of-type(9) {
      margin-top: 8px;
      margin-left: 8px;
    }
  }

  &.clicked {
    .dot {
      //@include transition(margin 0.4s ease, width 0.4s ease);
      margin-left: 0;
      margin-top: 0;
      border-radius: 50%;
      width: 6px;
      height: 6px;
    }
  }
}
