/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/JedWatson/react-select
*/
.filter {
  padding-top: 40px;
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}

.filter-select {
  margin: 20px 30px;
  font-size: 17pt;
  width: 100%;
  max-width: 150px;
  &__value{
    &-container{
      justify-content: center;
    }
  }
}
