.buro-page {
  max-width: 575px;
  z-index: 2;
  position: relative;
  
  h1 {
    font-size: 17px;
    margin: 30px 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  p {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 20px;
    line-height: 1.5;
    color: #494949;
    padding: 0;
  }
}
