#slider {
  height: calc(100vh - 65px);
  width: 100%;
  position: relative;
  overflow: hidden;
  .item {
    height: 100%;
    .background,
    .content {
      position: absolute;
      overflow: hidden;
      top: 0;
      height: 100%;
      right: -4%;
      transition: width 0.5s cubic-bezier(0.45, 0.035, 0.045, 0.95),
        padding-left 0.5s cubic-bezier(0.45, 0.035, 0.045, 0.95),
        padding-right 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);

      i {
        position: absolute;
        right: 0;
        top: 0;
        width: 108vw;
        height: 100%;
        background: no-repeat 50% 50%;
        background-size: cover;
      }
    }

    .content {
      width: 108%;
      &__inner {
        padding: 0 60px;
        bottom: 25px;
        text-decoration: none;
        transition: transform 0.3s ease-in-out;
        left: 3.7037037%;
        position: absolute;
        h1 {
          margin-bottom: 10px;
          font-size: 30pt;
          color: #fff;
          font-weight: 700;
        }
        p {
          font-size: 14pt;
          font-weight: 700;
          margin-bottom: 40px;
          color: #fff;
          max-width: 500px;
          line-height: 1.4;
          white-space: nowrap;
        }

        &:hover {
          transform: skewX(-8deg);
        }
      }
      z-index: 1;
    }
  }
  .item.next {
    .background,
    .content {
      width: 4%;
      padding-left: 120px;
      z-index: 1;
      @media (max-width: 991px) {
        padding-left: 0px;
      }
    }
    .content {
      z-index: 2;
    }
  }
  .item.active {
    .background {
      width: 108vw;
    }
  }

  .item.old,
  .item.far {
    .background {
      width: 0%;
      transition: width 0.1s linear 0.5s, z-index 0.1s linear 0.5s;
      z-index: -1;
    }
    .content {
      transition: width 0.5s cubic-bezier(0.45, 0.035, 0.045, 0.95),
        z-index 0.1s linear 0.5s;
      width: 216%;
      z-index: -1;
    }
  }

  .item.far {
    .content {
      transition: width 0.5s cubic-bezier(0.45, 0.035, 0.045, 0.95),
        z-index 0.1s linear 0.5s;
      width: 0%;
      z-index: -1;
    }
  }
}

.slidernext {
  position: absolute;
  z-index: 50;
  right: 0;
  top: 0;
  width: 15%;
  height: 100%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  @media (max-width: 991px) {
    width: 100%;
    left: 0;
    height: 75%;
  }
}

.slidernext:hover {
  + #slider .item.next {
    .background,
    .content {
      padding-left: 180px;
      @media (max-width: 991px) {
        padding-left: 0px;
      }
    }
  }
}

.hover {
  .item.next {
    .background {
      padding-left: 180px;
    }
  }
}
