// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
// @include media(md){
//     width: 100%;
//     max-width: 24rem;
// }

.header {
  z-index: 60;
  top:0;
  position: fixed;
  width: 100%;
  background: white;
  //box-shadow: 0 0 25px rgba(0,0,0,0.1);
  height: 65px;
  transition: top 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  &.closed{
    top:-65px;
  }

  &__inner {
    display: flex;
    align-items: center;

    padding: 20px 30px;

    
  }

  &__logo {
    img {
      max-height: 25px;
      max-width: 180px;
      width: 100%;
    }

    a {
      position: relative;
    }

    flex: 1;
  }

  &__menu {
    flex: 1;
    display: flex;
    justify-content: center;

    &_icon {
      background: url('./menu.svg') no-repeat top left;
      background-size: contain;
      cursor: pointer;
      display: inline-block;
      height: 18px;
      width: 18px;
      margin-right: 15px;
    }

    button {
      display: flex;
      align-items: center;
      span {
        font-size: 13pt;
        font-family: 'PT Sans', sans-serif;
      }
    }

    @media (max-width: 991px) {
      justify-content: flex-end;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    padding: 0 50px;
    font-size: 13pt;
    &_icon {
      background: url('./search.svg') no-repeat top left;
      background-size: contain;
      cursor: pointer;
      display: inline-block;
      height: 18px;
      width: 18px;
      margin-right: 15px;
    }

    @media (max-width: 991px) {
      display: none;
    }
  }

  &__translate {
    font-size: 13pt;
  }

  &__utils {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    @media (max-width: 991px) {
      display: none;
    }
  }

  &__nav {
    position: fixed;
    width: 100%;
    height: auto;
    background: white;
    z-index: 55;
    top: -65px;
    transition: top 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    border-top: 1px solid #dedede;

    &__inner {
      padding-right: 30px;
      padding-left: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          position: relative;
          margin: 20px 30px;
          &::before{
            content: "\2022";
            position: absolute;
            left: -18px;
            top: 0;
            font-size: 17px;
          }
          
          &:first-child {
            margin-left: 15px;
          }
          a {
            text-decoration: none;
            text-transform: uppercase;
            color: #494949;
            font-size: 17px;
            letter-spacing: 3px;
          }
          @media (max-width: 991px) {
            margin: 20px 15px;
          }
        }
      }

      @media (max-width: 991px) {
        justify-content: flex-start;
      }
    }

    &__buro{
      color: #80a1c7;
      text-decoration: none;
      white-space: nowrap;
      font-size: 17px;
      letter-spacing: 3px;
      position: absolute;
      right: 30px;
    }

    &.open {
      top: 65px;
    }
    @media (max-width: 991px) {
      position: fixed;
      background-color: hsla(0, 0%, 100%, 0.95);
      height: calc(100% - 65px);
      top: -100%;
    }
  }
}
