a.imglink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
}

.imglink img {
  align-self: flex-start;
  max-width: 55vw;
  height: auto;
  margin: 0 auto;
  border: 0;
}

a.WrapperLink {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  &::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: #000000c7;
  }
  &:not(:target) {
    display: none;
  }
}

div.ImageContainer {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  max-width: 90vw;
  max-height: 90vh;
  z-index: 2;
  img {
    align-self: flex-start;
    max-width: 90vw;
    max-height: 90vh;
  }
}
