.article-card {
  width: calc(33.3% - 110px);
  max-width: 370px;
  height: 460px;
  margin-left: 110px;
  margin-bottom: 140px;

  &.yellow {
    &::before,
    &::after {
      border-color: #ffb230;
    }
  }

  &.green {
    &::before,
    &::after {
      border-color: #647f54;
    }
  }

  &__meta {
    white-space: nowrap;
    font-size: 13px;
  }

  &__category {
    top: calc(100% - 50px);
    position: absolute;
    font-weight: bold;
    width: calc(100% - 100px);
    text-align: right;
    font-size: 13px;
  }

  &__inner {
    padding: 30px 50px;
    height: 100%;
    text-decoration: none;
    color: black;
    display: block;
    h3 {
      text-align: center;
      margin-top: 45px;
      font-size: 21px;
      text-transform: uppercase;
      line-height: 1.5;
      @media (max-width: 991px) {
        font-size: 18px;
        margin-top: 35px;
      }
    }
  }

  &__image {
    margin: 55px 50px;
    width: calc(100% - 100px);
    height: calc(100% - 110px);
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('http://via.placeholder.com/420x1280');
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
    transition: 100ms filter linear;
  }

  &__caption {
    font-size: 17px;
    position: absolute;
    width: 120%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    margin-left: -60%;
    line-height: 1.4;
    max-height: 200px;
    overflow: hidden;
    @media (max-width: 576px) {
      width: 80%;
      margin-left: -40%;
      max-height: 150px;
    }
  }

  &::before {
    content: '';
    width: calc(100% - 10pt);
    height: 100px;
    position: absolute;
    top: 0;
    border: 5pt solid rgb(128, 161, 199);
    border-bottom: 0;
  }

  &::after {
    content: '';
    width: calc(100% - 10pt);
    height: 100px;
    position: absolute;
    bottom: 0;
    border: 5pt solid rgb(128, 161, 199);
    border-top: 0;
  }

  &:hover {
    cursor: pointer;

    .article-card {
      &__image {
        filter: blur(5px);
      }
    }
  }

  @media (max-width: 1200px) {
    width: calc(50% - 110px);
  }

  @media (max-width: 991px) {
    width: calc(100% - 150px);
    margin-bottom: 50px;
  }

  @media (max-width: 576px) {
    height: 450px;
  }

  @media (max-width: 450px) {
    width: 100%;
    margin-left: 0;
  }
}
