ul.filter {
  padding-top: 40px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  li {
    position: relative;
    margin: 20px 30px;
    letter-spacing: 2px;
    font-size: 17px;
    color: #494949;
    &::after {
      content: '\2022';
      position: absolute;
      right: -18px;
      top: 0;
      font-size: 17px;
    }

    &:hover{
        cursor: pointer;
    }

    &.selected{
        color: #bfbfbf;
    }
    &:first-child {
      margin-left: 15px;
    }
    @media (max-width: 991px) {
      margin: 20px 15px;
    }
  }
}
