.similar{
  &__inner{
    padding: 0 15px;
  }
}
.project-content {
  font-family: Arial, Helvetica, sans-serif;

  &__inner {
    overflow: auto;

    img {
      width: 100%;
      margin: 10px 0;
    }
  
    
    h1 {
    
      margin: 0.67em 0;
    }
  
    p {
      margin: 1.5em 0;
      color: #494949;
      padding: 0;
      font-size: 16px;
      line-height: 1.4;
      font-family: 'PT Sans', sans-serif;
    }

  }

  

  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    h1{
      width: calc(50% + 40px);
      font-size: 24px;
      align-self: flex-end;
      text-align: left;
      line-height: 2;
      font-weight: 500;
      @media (max-width: 992px) {
        width: 100%;
      }
    }
    p{
      margin-right: auto;
      font-family: 'PT Sans', sans-serif;
      line-height: 2;
    }
    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  &__similar{
    max-width: 1440px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'PT Mono', monospace;
    h1{
      margin: 60px 0;
      text-align: center;
      font-size: 21px;
      font-weight: 700;
      letter-spacing: 2px;
    }
  }

}

.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
  img{
    width: 100vw;
    height: 120vh; // this should be dynamic, right now it's fixed based on a min max offset
    object-fit: cover;
  }
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  padding: 30px 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;

}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  max-height: 600px;
  &:focus {
      outline: none;
  }

  &.dragging {
      cursor: pointer;
      cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:before,
  &:after {
      content: "";
      display: table;
  }

  &:after {
      clear: both;
  }

  .slick-loading & {
      visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
      float: right;
  }
  img {
      display: block;
      height: 100%;
  }
  &.slick-loading img {
      display: none;
  }

  display: none;

  &.dragging img {
      pointer-events: none;
  }

  .slick-initialized & {
      display: block;
  }

  .slick-loading & {
      visibility: hidden;
  }

  .slick-vertical & {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
