// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  padding: 30px 50px 20px 50px;
  justify-content: space-between;
  display: flex;

  &__info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(100% - 300px);

    @media (max-width: 976px) {
      width: 100%;
      justify-content: space-between;
    }
  }

  &__item {
    position: relative;
    margin-bottom: 60px;
    text-align: left;

    padding: 0 30px;



    h4 {
      font-size: 13pt;
      font-weight: bold;
      color: #303030;
      margin-bottom: 15px;

      @media (max-width: 547px) {
        display: none;
      }
    }

    p, a {
      font-size: 13pt;
      color: #aaaaaa;
      text-decoration: none;
    }

    a:hover{
      border-bottom: 1px solid #aaaaaa;
    }

    @media (min-width: 976px) {
      &:first-child {
        padding-left: 0px;
      }
    }

    @media (max-width: 547px) {
      padding-left: 0px;
      &.email{
        order: 1;
      }
  
      &.social{
        order: 2;
      }
  
      &.tel{
        order: 3;
      }
    }

  }

  &__line {
    height: 1px;
    width: 60px;
    background: #aaaaaa;
    position: relative;
    top: 40px;
    right: 0;
    flex: 1;
    &:last-child {
      display: none;
    }

    @media (max-width: 976px) {
      display: none;
    }
  }

  &__authors{
    color:#D1D1D1;
    margin-top: 30px;
  }


  @media (max-width: 976px) {
    flex-direction: column;

    padding: 30px 25px 20px 25px;
  }

}
