.promo {
    position: relative;
    overflow: hidden;
    height: 80vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
  }
  
  .m-no-touch .promo {
    background: #141414;
  }
  
  .promo__content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
  }
  

  .m-touch .promo__content {
    background: #fff;
  }
  
  .promo__item,
  .promo__item:hover {
    color: #141414;
  }
  
  .promo__item_dark,
  .promo__item_dark:hover {
    color: #fff;
  }
  
  .promo__item__bg {
    width: 108%;
  }
  
  .promo__item__bg,
  .promo__item__about {
    position: absolute;
    overflow: hidden;
    top: 0;
    height: 100%;
    right: -4%;
    -webkit-transition: width 0.5s cubic-bezier(0.45, 0.035, 0.045, 0.95),
      padding-left 0.5s cubic-bezier(0.45, 0.035, 0.045, 0.95),
      padding-right 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: width 0.5s cubic-bezier(0.45, 0.035, 0.045, 0.95),
      padding-left 1s cubic-bezier(0.45, 0.035, 0.045, 0.95),
      padding-right 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .promo__item__bg {
    background: #000;
  }
  
  .promo__item__bg__picture {
    position: absolute;
    right: 0;
    top: 0;
    width: 108vw;
    height: 100%;
    background: no-repeat 50% 50%;
    background-size: cover;
    opacity: 1;
    transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .promo__item__bg__picture:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #ffffff00, #000000);
    opacity: 0.8;
  }

  
 
  .promo__item_next .promo__item__bg__picture {
    opacity: 0.5;
  }
  
  .promo__item__about {
    width: 216%;
  }
  
  .promo__item_active .promo__item__about {
    width: 108%;
  }

  .promo__item_active .promo__item__bg,
  .promo__item_active .promo__item__about {
    z-index: 3;
  }
  
  .promo__item_next .promo__item__bg,
  .promo__item_next .promo__item__about {
    width: 4%;
    padding-left: 35%;
    z-index: 4;
  }
  
  .hover .promo__item_next .promo__item__bg,
  .hover .promo__item_next .promo__item__about,
  .hover .promo__item_active .promo__item__about {
    padding-right: 60px;
  }
  
  
  .promo__item_far .promo__item__about {
    width: 0%;
  }

  .promo__item_far .promo__item__bg {
    width: 108%;
  }

  
  .promo__next {
    position: absolute;
    z-index: 50;
    right: 0;
    top: 0;
    width: 35%;
    height: 100%;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
  }
  
  .promo__item__about__content {
    position: absolute;
    left: 3.7037037%;
    margin-left: 60px;
    bottom: 77px;
    transform: translateZ(0);
  }
  
  .promo__item__about__year {
    position: absolute;
    left: 0;
    top: -21px;
    font-size: 11px;
    line-height: 1;
  }
  
  .promo__item__about__title {
    display: block;
    overflow: visible;
    margin-bottom: 40px;
    padding-top: 0.17em;
    font-size: 60pt;
    color: white;
    font-weight: bold;
  }
  
  .promo__item__about__action {
    display: block;
    background: no-repeat 0 2px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    white-space: nowrap;
    transition: transform 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .promo__item__about__caption {
    display: block;
    font-size: 21pt;
    font-weight: bold;
    margin-bottom: 40px;
    white-space: nowrap;
  }
  
  
  .m-no-touch .promo__item__about__content:hover .promo__item__about__action {
    -webkit-transform: translateX(7px);
    -ms-transform: translateX(7px);
    transform: translateX(7px);
  }
  
  .promo__bullets {
    position: absolute;
    z-index: 50;
    left: 0;
    width: 100%;
    bottom: 15px;
    text-align: center;
    font-size: 0;
    vertical-align: top;
  }
  
  .promo__bullets__item {
    display: inline-block;
    vertical-align: top;
    width: 6px;
    height: 6px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 0 5px;
    -webkit-transition: background-color 0.175s;
    transition: background-color 0.175s;
  }
  
  .promo__bullets__item.active {
    background-color: #fff;
  }
  
  .m-touch .promo__next {
    display: none;
  }
  
  .m-touch .promo__content {
    width: 20000% !important;
  }
  
  .m-touch .promo__item {
    float: left;
    position: relative;
    overflow: hidden;
    width: 0.5%;
    height: 100vh;
  }
  
  .m-touch .promo__item__bg,
  .m-touch .promo__item__about {
    width: 100%;
    left: 0;
  }
  
  .m-touch .promo__item__bg__picture {
    width: 100%;
  }
  
  .m-touch .promo__item__about__content {
    left: 0;
  }
  
  @media screen and (max-width: 1023px) {
    .promo__item__about__content {
      margin-left: 25px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .promo__item__about__content {
      margin-left: 20px;
      bottom: 45px;
    }
  
    .promo__item__about__year {
      display: none;
    }
  
    .promo__item__about__title {
      font-size: 45px;
      margin-bottom: 4px;
      line-height: 0.89;
      padding-top: 0.11em;
    }
  
    .promo__item__about__action {
      padding-left: 0;
      font-size: 15px;
    }
  
    .promo__item_dark .promo__item__about__action,
    .promo__item_light .promo__item__about__action {
      background: 0 0;
    }
  }
  