.member-card {
  width: 20%;

  font-family: Arial, Helvetica, sans-serif;
  @media (max-width: 991px) {
    width: 50%;
  }

  @media (max-width: 520px) {
    width: 100%;
  }
}
.member-card__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 0;
  width: 180px;
  height: 260px;
  margin: 0 auto;
  overflow: hidden;
  h3 {
    margin: 10px 0;
    font-size: 17px;
  }
  p {
    margin: 0 0 5px;
    font-size: 13px;
  }
  .gatsby-image-outer-wrapper {
    width: 100%;
  }
  @media (max-width: 520px) {
    width: 230px;
    margin: 0 auto;
    padding: 20px 0;
    height: auto;
  }
  
  @media (max-width: 320px) {
    width: 100%;
    padding: 0;
    height: auto;
    margin: 40px auto;
  }
}
